# Supabase Configuration
VITE_SUPABASE_URL=https://ewueakxjirjxqzucdkpl.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YWZbuNCnjOLygkNH8-8QVA_PA4BAvUx

# Backend Configuration
VITE_BACKEND_URL=http://localhost:5001
